/*

    Style for the documentation

*/

body {
    background-image: url("test.png");
    background-size: 100%;
    background-position: 100%;
    display: block;
}


.french {
    margin-left: 10%;
    margin-top: 4%;
    margin-right: 10%;
    margin-bottom: auto;
    display: block;
}

.english {
    margin-left: 10%;
    margin-top: 4%;
    margin-right: 10%;
    margin-bottom: auto;
    display: none;
}

button {
    padding: 8px 8px 8px 8px;
    border: none;
    background-color: darkgrey;
    position: absolute;
    cursor: pointer;
    border-radius: 0px;
}

button:hover {
    background-color:slategray;
}

.language1 {
    right: 5%;
}

.language2 {
    right: 9%;
}


.back {
    left: 5%;
}

.arrow_left {
    height: 30px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    font-size: 35px;
    text-align: center;
    font-family: "helvetica";    
}


.flag {
    height : 30px ;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.hemititle {
    font-size: 25px;
    font-family: "helvetica";
    text-align: left;
}

.main_text {
    font-size: 20px;
    font-family:  "helvetica";
    text-align: justify;
}

.marker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
}

/*
    Known bug: the video doe snot work in firefox
*/

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 854px ;
    height: 480px;
}

