<!DOCTYPE html>
<!-- This script is based on the work of Luciano Abriata (https://molecularmirror.altervista.org/en/) -->

    <!-- <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>  is the same as aframe-ar ???? sert potentiellement à réserver un epace mémoire  -->
    <!-- a locale source in which a 'letterA' preset(a new marker) had been added -->
    <!-- <script src="aframe-ar.js"></script> -->
<!-- <script src="hbondprotontransferclient.js"></script> -->
    <script language="javascript" type="text/javascript" src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js" crossorigin="anonymous" integrity="sha256-RYh3g3iPuZjkKUQFPEz4dqTTtP3/FlVlMaKV5g1otbg="></script>


<html lang="en">
    <head>
        <title>Acids, bases, H-bonds, and proton transfer</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="mainText">
            <p id="info"><b>Three atoms that transfer a proton: move markers around to create an H2O molecule</b></p>
            <p id="infop"></p>
        </div>
        <a-scene embedded artoolkit='patternRatio: 500; sourceType: webcam;' id="thescene">
            <!-- handle hiro marker-->
            <a-marker preset='hiro' id="lysmarker">
              <!-- This is an hydrogen atom
              All coordinates have been divided by 2, so any distance between two atoms must be multiplied by 2 to get the actual distance-->
              <a-sphere id="hyd1" position="-1.0 0 -0.3" color="white" radius="0.25" visible="false"></a-sphere>
            </a-marker>

            <a-marker preset='letterA' id="promarker">
              <!-- This is a second hydrogen atom
              All coordinates have been divided by 2, so any distance between two atoms must be multiplied by 2 to get the actual distance-->
              <a-sphere id="hyd2" position="-1.0 0 -0.3" color="white" radius="0.25" visible="false"></a-sphere>
            </a-marker>

            <!-- handle kanji marker -->
            <a-marker preset='kanji' id="glumarker">
              <!-- This is an H2O molecule with hydrogen bonds
              The deal is to create H2O and to hide or not H and bonds -->
              <a-sphere id="hoh1" position="0 0 0" color="red" radius="0.35" visible="false"></a-sphere>
              <a-sphere id="hoh2" position="0 0 -0.8" color="white" radius="0.25" visible="false"></a-sphere>
              <a-sphere id="hoh3" position="0 0 0.8" color="white" radius="0.25" visible="false"></a-sphere>
              <a-box id="l1" position="0 0 -0.3" color="grey"  lenght="0.15" width="0.15" height="0.04" visible="false"></a-box>
              <a-box id="l2" position="0 0 0.3" color="grey"  lenght="0.15" width="0.15" height="0.04" visible="false"></a-box>
            </a-marker>

            <!-- add a simple camera -->
            <a-entity camera></a-entity>
        </a-scene>
    </body>
    <!-- main script -->
    <script src="script.js"></script>

    <script>
      // Workaround for an AR.js bug (https://github.com/jeromeetienne/AR.js/issues/410)
      const sceneEl = document.querySelector('a-scene');
      sceneEl.addEventListener('loaded', () => {
        sceneEl.camera = new THREE.PerspectiveCamera();
      });
    </script>
</html>